body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

#main-content {
  display: grid;
  grid-template-columns: 15% 85%;
}

#menu {
  background-color: #DCDCDC;
  padding: 20px;
  border-right: 3px solid #ccc;
}

#isi {
  background-color: #ffffff;
  padding: 20px;
  border-left: 3px solid #ccc;
}

#header {
  background-color: #1e90ff;
  color: white;
  text-align: center;
  width: 99%;
  height: 100px; /* Mengatur tinggi lebih besar */
  background-color: #1e90ff;
  border-bottom: 3px solid #1e90ff;
  text-align: center;
  font-size: 40px; /* Ukuran font lebih besar */
  padding: 10px 5px; /* Padding lebih besar */
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
#footer {
  background-color: #1e90ff;
  color: white;
  text-align: center;
  width: 99%;
  height: 50px; /* Mengatur tinggi lebih besar */
  background-color: #1e90ff;
  border-bottom: 3px solid #1e90ff;
  text-align: center;
  font-size: 20px; /* Ukuran font lebih besar */
  padding: 10px 5px; /* Padding lebih besar */
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Additional styling for a polished look */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.6;
}

.container {
  width: 98%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #1e90ff;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

ul li a:hover,
ul li.active a {
  background-color: #1e90ff;
  color: #fff;
}

.logout a {
  background-color: red; /* Warna latar belakang merah */
  color: white; /* Warna teks putih */
  padding: 10px 71.55px; /* Padding untuk menambah jarak di sekitar teks */
  border: none; /* Menghapus border default */
  border-radius: 5px; /* Membuat sudut tombol membulat */
  text-decoration: none; /* Menghapus garis bawah pada teks */
  display: inline-block; /* Agar padding diterapkan dengan benar */
}

.logout a:hover {
  background-color: darkred; /* Warna latar belakang saat hover */
  text-decoration: underline; /* Garis bawah saat hover */
}
